#one{
				color:orange;
			    font-size:40px;
			    background-color: yellow

			}
			.three{
				color:pink;
			    font-size:50px;
			}

#aaka{
	height:200px;
	width:200px;
	background-color:red;
	
}

#ramya{
	height:200px;
	width:200px;
	background-color:green;
	
}